
.fotterStyle{
    background-color: black;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-column-gap:2% ;
    padding: 20px;
}


.linkStyle{
   text-align: center;
   
   ul{
    display: inline-block;
   }
   li{
    text-align: left;
    padding-bottom: 10px;
    color: white;
   }
    a{
        color: white;
    }
    i{
        color: yellow;
        border-radius: 5px;
        font-size: 30px;
    }
}
